.header 
  background  #fff 
  padding  0 
  display  flex 
  justify-content  space-between 
  align-items  center 
  .selBusLine
    display flex
  .trigger 
    font-size  24px 
    padding-left  16px 
  .menu 
    line-height  64px 
    padding-right  16px 
    .avatar 
      margin-right  10px 
    .logout
       margin-left  10px  
       color  #1890ff
     
   
 