.sider
  min-height: 100vh
.logo 
  background rgba(0, 40, 77, 1) 
  margin-bottom 15px 
  overflow hidden 
  padding 8px 0 7px 
  .collapsed  
    background-image url('https://img.kaikeba.com/logo_cms.png')
    background-size: cover;
    background-position: 0px 8px;
    height: 50px;
    width: 32px;
    margin-left: 25px;
  .spread  
    background-image url('https://img.kaikeba.com/logo_cms.png') 
    background-repeat no-repeat
    background-position center center 
    background-size 50% 
    margin-left -10px 
    height 50px 
    
  
